@charset "UTF-8";

.selector-for-some-widget {
  box-sizing: content-box;
}

.font-color {
  color: #0000FF;
}

.font-color-blue {
  color: #000080;
}

.font-color-skyblue {
  color: #2C7CFF;
}

body {
  background-color: #99CCFF;
}
